include boto/cacerts/cacerts.txt
include README.markdown
include Changelog.rst
include boto/file/README
include .gitignore
include pylintrc
include boto/pyami/copybot.cfg
include boto/services/sonofmmm.cfg
include boto/mturk/test/*.doctest
include boto/mturk/test/.gitignore
include tests/s3/other_cacerts.txt
recursive-include docs *
